version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    entrypoint:
      - /opt/keycloak/bin/kc.sh
      - start-dev
      - >-
        --spi-events-store-provider=ext-event-aws-firehose-store
        --spi-events-store-ext-event-aws-firehose-store-firehose-enabled=true
        --spi-events-store-ext-event-aws-firehose-store-aws-profile=phasetwo-terraform
        --spi-events-store-ext-event-aws-firehose-store-aws-region=us-west-2
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - 8080:8080
    volumes:
      - ./target/keycloak-event-stream-0.1-SNAPSHOT.jar:/opt/keycloak/providers/keycloak-event-stream-0.1-SNAPSHOT.jar
